/* HomePage.css */

.container {
    /* max-width: 800px; */
    background-color: rgb(164, 162, 172);
    margin: 0 auto;
    padding: 20px;
}

.hero {
    margin-top: 50px;
    background-color: #0f2337;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.stockName {
    margin-top: 10px;
}

.input-container {
    margin-top: 10px;
    display: flex;
    /* justify-content: space-around; */
}

.input-group {
    margin-bottom: 5px;
    width: 70%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #a49e9e;
    border-radius: 5px;
}

.input-group button {
    background-color: #1d446c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

.input-group button:hover {
    background-color: #1d446c;
}

.trending-stock {
    background-color: #1d446c;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img_container img {
    height: 100%;
    width: 100%;
  }

.news-container {
    font-size: 14px;
    color: #ffffff;
    background-color: #0f2337;
}  
  
